<div class="container-fluid bg-secondary">
  <h1 class="text-center text-white py-4">Skills</h1>
  <div class="container">
    <p class="text-center text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, velit iste aut
      sequi, accusantium facere impedit
      nobis doloremque ut esse labore dolorum adipisci! Unde architecto facere praesentium facilis quas quisquam! Lorem
      ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum reprehenderit expedita maiores at cumque?
      Asperiores
      ea, nesciunt nemo ad alias quia? Architecto repellat veritatis veniam maiores amet asperiores, eligendi beatae!
    </p>
  </div>
  <div class="row py-3">
    <div class="col-3"></div>
    <div class="col-3 px-5 text-white">
      <h3>My Focus</h3>
      <b>
        <hr class="text-white"></b>
      <h3>UI/UX DESIGN</h3>
      <h3>RESPONSIVE DESIGN</h3>
      <h3>WEB DESIGN</h3>
      <h3>Mobile APP DESIGN</h3>
    </div>
    <div class="col-3 text-white">
      <h3>My Focus</h3>
      <b>
        <hr class="text-white"></b>
      <h3>UI/UX DESIGN</h3>
      <h3>RESPONSIVE DESIGN</h3>
      <h3>WEB DESIGN</h3>
      <h3>Mobile APP DESIGN</h3>
    </div>
  </div>
</div>
