<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-12 header p-5">
      <div class="d-flex justify-content-center flex-column align-items-center">
        <h1 class="text-white py-2">Ahmed Kamal</h1>
        <h2 class="text-white py-2">MEARN STACK DEVELOPER</h2>
        <button type="button" class="btn btn-secondary btn-lg">Large button</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-4 d-flex justify-content-center align-items-center">
      <h1>About ME</h1>
    </div>
    <div class="col-8 py-5" style="font-size: 1.5em;">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis, iure nemo vel quo enim eius libero
        doloremque culpa veritatis illum ad aliquam quia molestiae obcaecati voluptatum repellat amet nobis eum. Lorem
        ipsum dolor sit amet, consectetur adipisicing elit. Sit ex accusantium quas ipsa! Deleniti, distinctio? Quisquam
        deleniti sit, maxime excepturi soluta error impedit quo doloremque veritatis nesciunt dignissimos explicabo a!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, tempora. Asperiores cupiditate magni
        blanditiis libero voluptatem magnam, facere tenetur aliquam ratione architecto quisquam possimus ipsam amet?
        Officia accusantium neque quo.
      </p>
      <a href="./app.component.html" download="PORTFOLIO" class="btn btn-secondary btn-lg">Download Profile</a>
    </div>
  </div>
</div>
<div class="container-fluid bg-secondary">
  <h1 class="text-center text-white py-4">Skills</h1>
  <div class="container">
    <p class="text-center text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, velit iste aut
      sequi, accusantium facere impedit
      nobis doloremque ut esse labore dolorum adipisci! Unde architecto facere praesentium facilis quas quisquam! Lorem
      ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum reprehenderit expedita maiores at cumque?
      Asperiores
      ea, nesciunt nemo ad alias quia? Architecto repellat veritatis veniam maiores amet asperiores, eligendi beatae!
    </p>
  </div>
  <div class="row py-3">
    <div class="col-3"></div>
    <div class="col-3 px-5 text-white">
      <h3>My Focus</h3>
      <b>
        <hr class="text-white"></b>
      <h3>UI/UX DESIGN</h3>
      <h3>RESPONSIVE DESIGN</h3>
      <h3>WEB DESIGN</h3>
      <h3>Mobile APP DESIGN</h3>
    </div>
    <div class="col-3 text-white">
      <h3>My Focus</h3>
      <b>
        <hr class="text-white"></b>
      <h3>UI/UX DESIGN</h3>
      <h3>RESPONSIVE DESIGN</h3>
      <h3>WEB DESIGN</h3>
      <h3>Mobile APP DESIGN</h3>
    </div>
  </div>
</div>
<h1 class="p-5" style="text-shadow: 2px 3px 3px red;">Portfolio</h1>
<div class="container">
  <div class="row">
    <div class="bg-primary d-flex justify-content-center align-items-center m-5 bg-worning"
      style="width: 18rem;height: 200px;border: 2px solid black;">
      <h5 class="card-title p-3" style="border-bottom: 3px solid black;">WEB DESIGN</h5>
    </div>
    <div class=" bg-secondary d-flex justify-content-center align-items-center m-5 bg-worning"
      style="width: 18rem;height: 200px;border: 2px solid black;">
      <h5 class="card-title p-3 " style="border-bottom: 3px solid black;">RESPONSIVE DESIGN</h5>
    </div>
    <div class=" bg-warning d-flex justify-content-center align-items-center m-5 bg-worning"
      style="width: 18rem;height: 200px;border: 2px solid black;">
      <h5 class="card-title p-3" style="border-bottom: 3px solid black;">Mobile APP DESIGN</h5>
    </div>
    <div class="bg-info d-flex justify-content-center align-items-center m-5 bg-worning"
      style="width: 18rem;height: 200px;border: 2px solid black;">
      <h5 class="card-title p-3" style="border-bottom: 3px solid black;">UI/UX DESIGN</h5>
    </div>
    <div class="bg-dark d-flex justify-content-center align-items-center m-5 bg-worning"
      style="width: 18rem;height: 200px;border: 2px solid black;">
      <h5 class="card-title p-3 text-white" style="border-bottom: 3px solid white;">WEB DESIGN</h5>
    </div>
    <div class=" d-flex justify-content-center align-items-center m-5  bg-worning"
      style="width: 18rem;height: 200px;border: 2px solid black;">
      <h5 class="card-title p-3" style="border-bottom: 3px solid black;">WEB DESIGN</h5>
    </div>

  </div>
</div>
<div class="container-fluid">
  <div class="row bg-dark text-white">
    <div class="col-3">
      <h3 class="p-3">GET IN TOUCH</h3>
      <p><i class="fab fa-facebook px-2" style="color: white;font-size: 2.5rem;"></i>www.facebook.com</p>
      <p> <i class="fab fa-whatsapp px-2" style="color:white;font-size: 2rem;"></i>(+20)01016370831</p>
    </div>
    <div class="col-3">

    </div>
    <div class="col-3 d-flex justify-content-start align-items-center">
      <button type="button" class="btn btn-secondary btn-lg">Large button</button>
    </div>
    <div class="col-3 d-flex justify-content-end flex-column align-items-end">
      <div class="text-center" >
        <i class="fab fa-whatsapp p-2 " style="color:white;font-size: 2rem;"></i>
        <i class="fab fa-twitter p-2" style="color:white;font-size: 2.5rem;"></i>
        <i class="fab fa-whatsapp p-2" style="color:white;font-size: 2.5rem;"></i>
      </div>
      <h3 class="py-2">Copyright&copy;2021/2022</h3>
    </div>
  </div>
</div> -->
<app-navbar></app-navbar>
<app-aboutme></app-aboutme>
<app-skills></app-skills>
<app-portfolio></app-portfolio>
<app-footer></app-footer>

